/vendor
/.idea
/build
/composer.lock
/node_modules
phpunit.xml


# Ignore local Claude files.
/.claude/settings.local.json
/CLAUDE.local.md
/.ai/agent-context.local.md

# Playwrigt
test-results/
playwright-report/
package-lock.json

# AI Task Manager
.claude/commands/tasks/create-plan.md
.claude/commands/tasks/execute-blueprint.md
.claude/commands/tasks/execute-task.md
.claude/commands/tasks/generate-tasks.md
.claude/commands/tasks/fix-broken-tests.md
.ai/task-manager

